# **ML Assignment 3**

In [157]:
# Question 1.1
def sum(a,b):
  # print( "sum is ",a+b)
  return a+b
def product(a,b):
  return a*b

In [158]:
def myreduce(func,l):
  res= func(l[0],l[1])
  for i in range (2,len(l)):
    res= func(res,l[i])
    
  return res

myreduce(sum,[1,2,3,4,5])

15

In [159]:
myreduce(product,[1,2,1,2,3])

12

In [161]:
# Question 1.2
def myfilter(func,l):
  ans=[]
  for i in range(len(l)):
    if func(l[i]):
      ans.append(l[i])
  return ans

def myfilter2(func,l):
  return [ l[i] for i in range(len(l)) if func(l[i])]

l=[1,2,3,4,5,6,7,8,13,85,94]
print(myfilter(lambda x: x%2==0,l))
print(myfilter2(lambda x: x%2==0,l))

[2, 4, 6, 8, 94]
[2, 4, 6, 8, 94]

--------------------------------------------------------------------------------

In [154]:
# Question 2 (a)
l=list('xyz')
[i*j for i in l for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [27]:
# Question 2 (b)
[i*j for j in range(1,5) for i in l ]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [96]:
#  Question 2(c)
 li = [[x+y] for x in range(2,5) for y in range(3)]
 li

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [101]:
#  Question 2 (d)
[[i+j for j in range(2,6)] for i in range(4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [103]:
#  Question 2 (e)
[(i,j) for j in range(1,4) for i in range (1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]