In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.preprocessing import StandardScaler 
from sklearn  import datasets 
from sklearn.ensemble import RandomForestRegressor

In [2]:
boston = datasets.load_boston()
data = pd.DataFrame(boston.data, columns=boston.feature_names)
targets =boston.target

In [3]:
data.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [4]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [5]:
x=data
y= targets

In [6]:
scaler= StandardScaler()
x_transform = scaler.fit_transform(x)

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=100)

In [8]:
rand_reg=RandomForestRegressor(random_state=100,oob_score=True)
rand_reg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=True,
                      random_state=100, verbose=0, warm_start=False)

In [9]:
rand_reg.score(x_test,y_test)

0.8047804325951025

In [10]:
rand_reg.predict(scaler.transform([[0.00632,	18.0	,2.31	,0.0	,0.538,	6.575,	65.2,	4.0900,	1.0	,296.0,	15.3	,396.90	,4.98]]))

array([29.944])

In [14]:
grid_param ={
    'n_estimators' : [40,100,150,130],
    'criterion' :['mse','mae'],
    'max_depth': range(12,25,1),
    'min_samples_split' : range(2,10,1),
    'max_features' : ['auto' , 'log2']
}

In [15]:
grid_search=GridSearchCV(estimator=rand_reg,param_grid=grid_param,cv=5,n_jobs=-1,verbose=3)

In [16]:
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 1664 candidates, totalling 8320 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   30.4s
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 508 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1148 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 1564 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 2044 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 2588 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 3196 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done 3868 tasks      | elapsed: 13.4min
[Parallel(n_jobs=-1)]: Done 4604 tasks      | elapsed: 18.7min
[Parallel(n_jobs=-1)]: Done 5404 tasks      | elapsed: 25.5min
[Parallel(n_jobs=-1)]: Done 6268 tasks      | elapsed: 33.4min
[Parallel(n_jobs=-1)]: Done 7196 tasks      | elapsed: 41.7min
[Parallel(n_jobs=-1)]: Done 8188 tasks      | elapsed: 50.4min
[Parallel(n_jobs=-1)]: Done 8320 out of 8320 | elapsed: 51.1min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=True, random_state=100,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_depth': range(12, 25),
                         'max_features': ['auto', 'log2'],
                         'min_samples_split': range(2, 10),
                         'n_estimators': [40, 100, 150, 130]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [17]:
grid_search.best_params_

{'criterion': 'mae',
 'max_depth': 17,
 'max_features': 'log2',
 'min_samples_split': 3,
 'n_estimators': 100}

In [18]:
rand_reg2=RandomForestRegressor(criterion='mae',max_depth=17,max_features='log2',min_samples_split=3,n_estimators=100)

In [20]:
rand_reg2.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=17, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=3, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
rand_reg.score(x_test,y_test )

0.8047804325951025